# ===== env variables =====
.env

# ===== python 3.7 venv =====
venv/

# ===== log files =====
api/logs/
logs/

# ===== file handling dirs =====
syncnet_python/file_handling/final_output/
syncnet_python/file_handling/temp_input/

# ===== python cache files =====
__pycache__/
*.pyc
