aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
audioread==3.0.1
cached-property==1.5.2
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.4.0
click==8.1.7
cycler==0.11.0
decorator==5.1.1
distro==1.9.0
dotenv==0.9.9
exceptiongroup==1.2.2
fastapi==0.103.2
ffmpeg-python==0.2.0
frozenlist==1.3.3
future==1.0.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.10
imageio==2.31.2
imageio-ffmpeg==0.5.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
joblib==1.3.2
kiwisolver==1.4.5
librosa==0.7.2
llvmlite==0.39.1
matplotlib==3.3.4
multidict==6.0.5
numba==0.56.4
numpy==1.18.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
Pillow==9.5.0
platformdirs==4.0.0
proglog==0.1.10
pycparser==2.21
pydantic==1.10.7
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==0.21.1
python-magic==0.4.27
python-multipart==0.0.8
python-speech-features==0.6
PyYAML==6.0.1
requests==2.31.0
resampy==0.4.3
scenedetect==0.6.4
scikit-learn==1.0.2
scipy==1.2.1
six==1.16.0
sniffio==1.3.1
soundfile==0.12.1
starlette==0.27.0
threadpoolctl==3.1.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.66.6
typing_extensions==4.7.1
urllib3==2.0.7
uvicorn==0.22.0
watchdog==3.0.0
websockets==11.0.3
yarl==1.9.4
zipp==3.15.0
selenium>=4.8.0,<5.0
